@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

@import "tailwindcss";

body {
  font-family: 'Unbounded', sans-serif;
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.2s ease-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.filter-select {
  @apply px-4 py-2 rounded-xl border border-slate-200 bg-white text-sm text-slate-700 shadow-sm focus:outline-none focus:ring-2 focus:ring-[#A5BE00];
}